*/src
*/pkg
*/*-git
*/*.pkg.tar.xz
*/*.pkg.tar.zst
*/*.tar.xz
.nvimlog

build
build/*
instantmenu/instantmenu-*
instantmenu/instantmenu
islide/islide-*
islide/islide
instantassist/instantassist
instantlock/instantlock-*
instantlock/instantlock
instantwallpaper/instant*
autojump/*.tar.gz
grub-theme-live/grub-theme*
instantutils/instantutils
xdragon/xdragon
xdragon/dragon
instantdotfiles/instantdotfiles
liveutils/liveutils
paperbash/paperbash
instantthemes/instantthemes
instantwidgets/instantwidgets
instantcursors/instantcursors
instantshell/instantshell
instantos/instantos
instantdepend/instantdepend
instantconf/instantconf
rangerplugins/rangerplugins
instantwelcome/instantwelcome
instanttools/instanttools
instantlaunch/instantlaunch
instantsettings/instantsettings
snapdummy/snapdummy
snap-dummy/snap-dummy
irox/rox*
irox/irox*
sideload/sideload
imenu/imenu
grub-instantos/grub-instantos
st-luke/st-luke
# Local Netlify folder
.netlify
plymouth*/plymouth*
mpm/mpm
instantsupport/instantsupport
instantclipmenu/instantclipmenu
instantpacman/instantpacman
instantclipmenu/clipmenu
instantnotify/instantnotify
*/.MTREE
st-instantos/st-instantos
instantsearch/instantsearch
