*/src
*/pkg
*/*-git
*/*.pkg.tar.xz
*/*.pkg.tar.zst
*/*.tar.xz
.nvimlog

build
packages/build/*
packages/packages/packages/instantmenu/instantmenu-*
packages/packages/instantmenu/instantmenu
packages/packages/islide/islide-*
packages/packages/islide/islide
packages/instantassist/instantassist
packages/instantlock/instantlock-*
packages/instantlock/instantlock
packages/instantwallpaper/instant*
packages/autojump/*.tar.gz
packages/grub-theme-live/grub-theme*
packages/instantutils/instantutils
packages/xdragon/xdragon
packages/xdragon/dragon
packages/instantdotfiles/instantdotfiles
packages/liveutils/liveutils
packages/paperbash/paperbash
packages/instantthemes/instantthemes
packages/instantwidgets/instantwidgets
packages/instantcursors/instantcursors
packages/instantshell/instantshell
packages/instantos/instantos
packages/instantdepend/instantdepend
packages/instantconf/instantconf
packages/rangerplugins/rangerplugins
packages/instantwelcome/instantwelcome
packages/instanttools/instanttools
packages/instantlaunch/instantlaunch
packages/instantsettings/instantsettings
packages/snapdummy/snapdummy
packages/snap-dummy/snap-dummy
packages/irox/rox*
packages/irox/irox*
packages/sideload/sideload
packages/imenu/imenu
packages/grub-instantos/grub-instantos
packages/st-luke/st-luke
# Local Netlify folder
.netlify
plymouth*/plymouth*
packages/mpm/mpm
packages/instantsupport/instantsupport
packages/instantclipmenu/instantclipmenu
packages/instantpacman/instantpacman
packages/instantclipmenu/clipmenu
packages/instantnotify/instantnotify
*/.MTREE
packages/st-instantos/st-instantos
packages/instantsearch/instantsearch
packages/instantupdate/instantupdate/*
packages/udevwait/udevwait/*
packages/commandfinder/commandfinder/*
packages/imosid/imosid
packages/goghresources/goghresources
packages/instantpass/instantpass/*
packages/instantos-keyring/instantos-keyring/*
packages/ttf-nerd-fonts-fira-code/ttf-nerd-fonts-fira-code/*
packages/tzupdate/3.1.0.tar.gz
