name: Build and Deploy Arch Packages

on:
  push:
    branches:
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    timeout-minutes: 2880
    runs-on: self-hosted
    # No container directive here, we run on the host

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Packages
        run: ./build.sh

      - name: Generate Directory Listing
        uses: gacts/directory-listing@v1
        with:
          target: ./repo
          show-hidden: false
          overwrite: true

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./repo

      - name: Cleanup
        if: always()
        run: |
          echo "Cleaning up workspace..."
          sudo chown -R $USER:$USER . || true
          echo "Pruning Docker..."
          docker system prune -af || true

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
