name: Build and Deploy Arch Packages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    container:
      image: archlinux:base-devel
      options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Packages
        run: ./build.sh

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./repo
          force_orphan: true
